{% extends 'base.html' %}
{% block content %}
<!--Confrmation alert at the top-->
<div class="row">
	<div class="alert alert-dismissible alert-primary">
        <strong>Congratulations! You have successfully enrolled for the yoga class. 
            Below is the schedule for your classes. </strong>
    </div>
</div>


<div class="col-md-2">
    &nbsp;
</div>

<!--Dummy schedule for the batches-->
<div class="row">
    <center>
        <div class="col-md-8">
            <h2>Our Schedule</h2>
            <hr>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Day</th>
                        <th scope="col">Batch 1</th>
                        <th scope="col">Batch 2</th>
                        <th scope="col">Batch 3</th>
                        <th scope="col">Batch 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-secondary">
                        <th>Monday</th>
                        <td>❌</td>
                        <td>✅</td>
                        <td>❌</td>
                        <td>✅</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Tuesday</th>
                        <td>✅</td>
                        <td>✅</td>
                        <td>❌</td>
                        <td>❌</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Wednesday</th>
                        <td>✅</td>
                        <td>❌</td>
                        <td>❌</td>
                        <td>✅</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Thursday</th>
                        <td>❌</td>
                        <td>❌</td>
                        <td>✅</td>
                        <td>✅</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Friday</th>
                        <td>✅</td>
                        <td>❌</td>
                        <td>✅</td>
                        <td>❌</td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Saturday</th>
                        <td>❌</td>
                        <td>✅</td>
                        <td>✅</td>
                        <td>❌</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

        <form action="/home">
            <button type="submit" class="btn btn-primary btn-lg">Back to Home</button>
        </form>

    </center>
    

</div>

<div class="col-md-2">
    &nbsp;
</div>




{% endblock %}