<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Bootstrap Template (Zephyr - Bootswatch)-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
		<!--Custom CSS-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
		<title>
			YOGA CLASSES
		</title>
	</head>
	<body>
		<h1>
		Welcome to our Yoga Classes
		</h1>
		
		<hr>
		{%block content%}
		{%endblock%}
		
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		{%block scripts %}
		{%endblock%}
	</body>
</html>